
/*main*/
#main{ width: 100%; background: #F5F5F5; }
#main .teMaiTop{ width: 1200px; height: 35px; margin: 0 auto; }
#main .teMaiTop span{ text-align: left; overflow: hidden; padding-right: 15px; display: inline-block; float: left; }
#main .teMaiTop span em{ text-align: left; font: 600 14px/35px "\5FAE\8F6F\96C5\9ED1"; color: #666; font-style: normal; }
#main .teMaiTop span em h1{ font-weight: 600; color: #e02f2f; font-size: 14px; display: inline; }
#main .teMaiTop span i{ font-style: normal; }
#main .teMaiTop span strong{ font-weight: 700; color: #666; }
#main .area{ width: 1200px; height: 31px; margin: 0 auto; border-top: 1px solid #d6d6d6; line-height: 31px; }
#main .area a{ margin-right: 15px; display: inline-block; outline: 0; font-style: normal; color: #333;}
#main .area a :hover{ color: #d00; }
#main .area a.one{ font-weight: 700; }
#main .area a.one em{ color: #d00; }
#main .area span{ color: #999; display: inline; text-align: left; }
#main .area span a{ margin-right: 0; padding: 0 5px; }
#main .area span a:hover{ color: #e02f2f; }
#main .area span a.hot{ color: #e02f2f; font-weight: 700; }
#main .showcase{ width: 1200px; padding-bottom: 20px; margin: 0 auto; background: #F2F2F2; }
#main .showcase .store{ width: 298px; height: 375px; float: left; margin-left: 1px; }
#main .showcase .store .juZh{ width: 283px!important; margin:0 auto; position: relative;}
#main .showcase .store .juZh:hover{ box-shadow:5px 0 10px #ddd, -5px 0 10px #ddd; }
#main .showcase .store .juZh a.coupon{ background: url(http://www.zhe9000.com/static/zhe_image/ico_mquan.png);display: inline-block; position: absolute; z-index: 98; width: 74px; height: 74px; top: 0px; background-size: 100%; background-repeat: no-repeat; line-height: 72px; text-align: center; color: white; }
#main .showcase .store img{ width: 283px; height: 283px; margin-left: -12px; }
#main .showcase .store p{ width: 283px; height: 20px; line-height: 20px; text-align: center; margin-top: -20px; background: black; opacity: 0.4; color: #fff; }
#main .showcase .store p.mouseShow{ display: none; }
#main .showcase .store p a{ color: #fff; }
#main .showcase .store h3{ padding: 5px 0px 0 12px; height: 20px; width: 271px; color: #666; text-align: left; font:12px/20px Arial,"微软雅黑"; white-space: nowrap; text-overflow:ellipsis; background-color: #fff; overflow: hidden;  }
#main .showcase .store a{ margin: 0 auto; width: 265px; height: 20px;  padding: 5px 10px 0 12px; margin-top: 2px;}
#main .showcase .store a em{ color: #f00; }
#main .showcase .store h4{ width: 283px; height: 34px;  ; background: #fff; padding: 3px 0 6px 0; position: relative;}
#main .showcase .store h4 em{  height: 30px; font: 33px/44px Arial; display: inline-block; line-height: 40px; color: #FF3366; margin-left: 20px; }
#main .showcase .store h4 em b{ font-size: 12px;}
#main .showcase .store h4 del{ font-size: 12px; color: #999; text-decoration:line-through; display: inline-block; }
#main .showcase .store h4 .sold{ width: 72px; white-space: nowrap; text-overflow:ellipsis; text-align: right; display: block; font:12px/12px "微软雅黑"; color: #999; line-height: 21px; z-index: 1001; display: inline-block; margin-left: 4px;}
#main .showcase .store h4 .xiangQ{ position: absolute; top: 16px; right:2px; }
#main .showcase .store h4 .xiangQ a{ color: #FF4C66; }
#main .pageNav{ margin: 0 auto; text-align: center; margin-bottom: 20px; padding-bottom: 30px; }
#main .pageNav span { background: #ED0F08; color: #fff; font-weight: bold; text-align: center; display: inline-block; margin-left: 1px; padding: 10px 15px; overflow: hidden; }
#main .pageNav span.pgPrev{ color: #bbb; font-weight: normal; background: none repeat scroll 0 0 #FFFFFF; width: 60px; border-radius: 20px 0 0 20px; }
#main .pageNav a,#main .pageNav i{ display: inline-block; background: none repeat scroll 0 0 #FFF; margin-left: 1px; padding: 10px 15px; overflow: hidden; color: #a3370f; font-size: 14px; font-weight: bold; border-right: none; -moz-box-shadow: 1px 1px 3px rgba(226,226,226,0.75); -webkit-box-shadow: 1px 1px 3px rgba(226,226,226,0.75); box-shadow: 1px 1px 3px rgba(226,226,226,0.75); } 
#main .pageNav i{ color: #d4d4d4;}
#main .pageNav a{ transition:.8s; }
#main .pageNav a.pgNext{ width: 60px; border-radius: 0 20px 20px 0; text-align: center; }
#main .pageNav a:hover{ color: #FF0F38; transition:.8s; }